/* ===== الأساس ===== */

body{
    font-family: system-ui;
    background:#f5f7fa;
    margin:0;
    padding:12px;
    direction: rtl;
}

/* ===== الإطار الرئيسي ===== */

.container{
    width:100%;
    max-width:600px;
    margin:auto;
    background:#ffffff;
    padding:20px;
    border-radius:16px;
    box-shadow:0 6px 20px rgba(0,0,0,0.06);
    box-sizing:border-box;
}

/* ===== العنوان ===== */

h1{
    text-align:center;
    margin-bottom:25px;
    font-size:22px;
}

/* ===== الملخص ===== */

.global-summary{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:space-between;
    margin-bottom:25px;
    font-weight:bold;
    font-size:14px;
}

/* ===== المستوى ===== */

.level{
    background:#f8fafc;
    padding:20px;
    margin-bottom:30px;
    border-radius:16px;
    border:1px solid #eef2f7;
}

.level h2{
    margin:0 0 10px 0;
    font-size:20px;
}

/* ===== الفصل ===== */

.semester{
    margin-bottom:25px;
}

.semester h3{
    margin:15px 0 10px 0;
    font-size:17px;
}

/* ===== الجدول ===== */

table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:15px;
    background:#ffffff;
    border-radius:10px;
    overflow:hidden;
    table-layout:fixed;

}

th{
    background:#f1f5f9;
    font-weight:600;
}

th, td{
    border:1px solid #f0f0f0;
    padding:6px;
    font-size:14px;
    text-align:center;
    
}

/* ===== توزيع الأعمدة الجديد ===== */
/* اسم المادة */
th:nth-child(1),
td:nth-child(1){
    width:50%;
}

/* الساعات */
th:nth-child(2),
td:nth-child(2){
    width:15%;
}

/* التقدير */
th:nth-child(3),
td:nth-child(3){
    width:20%;
}

/* الإجمالي */
th:nth-child(4),
td:nth-child(4){
    width:15%;
}
/* ===== select ===== */

select{
    font-size:14px;
    text-align:center;
    padding:4px;
}

/* ===== input عام ===== */

input{
    width:100%;
    padding:6px;
    font-size:14px;
    border:1px solid #dcdcdc;
    border-radius:6px;
    box-sizing:border-box;
    outline:none;
}

input:focus{
    border-color:#111827;
}

/* ===== تصغير input الساعات فقط ===== */

input.hours{
    width:38px;
    padding:3px;
    font-size:13px;
    text-align:center;
}

/* ===== الأزرار ===== */

button{
    padding:8px 14px;
    cursor:pointer;
    border:none;
    background:#111827;
    color:#fff;
    border-radius:8px;
    font-size:14px;
    transition:0.2s ease;
}

button:hover{
    opacity:0.9;
}

.clear-btn{
    background:#c62828;
    margin-top:10px;
}

/* ===== موبايل ===== */

@media(max-width:768px){
    .global-summary{
        flex-direction:column;
        align-items:flex-start;
        gap:6px;
    }
}
