/* ===== الأساس ===== */
body{
    font-family: system-ui;
    background:#f5f7fa;
    margin:0;
    padding:12px;
}

/* ===== الإطار الرئيسي ===== */

.container{
    width:100%;
    max-width:600px;
    margin:auto;
    background:#ffffff;
    padding:18px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.05);
    box-sizing:border-box;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

/* ===== الملخص ===== */

.global-summary{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:space-between;
    margin-bottom:20px;
    font-weight:bold;
    font-size:14px;
}

/* ===== المستوى ===== */

.level{
    background:#f0f4ff;
    padding:15px;
    margin-bottom:25px;
    border-radius:10px;
}

/* ===== الفصل ===== */

.semester{
    margin-bottom:20px;
}

/* ===== الجدول ===== */

table{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    margin-bottom:8px;
}

th, td{
   th, td{
    border:0.5px solid #e6e6e6;
    padding:6px;
    font-size:14px;
    text-align:center;
}

/* ===== توزيع الأعمدة ===== */

/* اسم المادة (أكبر مساحة) */
td:first-child,
th:first-child{
    width:75%;
    text-align:right;
    padding-right:8px;
    font-weight:500;
    word-wrap:break-word;
}

/* الساعات */
td:nth-child(2),
th:nth-child(2){
    width:5%;
}

/* التقدير */
td:nth-child(3),
th:nth-child(3){
    width:20%;
}

/* النقاط */
td:nth-child(4),
th:nth-child(4){
    width:15%;
}

/* select */
select{
    width:100%;
    font-size:13px;
}

/* ===== الأزرار ===== */

button{
    padding:6px 12px;
    cursor:pointer;
    border:none;
    background:#0f172a;
    color:#fff;
    border-radius:6px;
    font-size:13px;
}

button:hover{
    opacity:0.9;
}

.clear-btn{
    background:#c62828;
    margin-top:10px;
}

/* ===== موبايل ===== */

@media(max-width:768px){
    .global-summary{
        flex-direction:column;
        align-items:flex-start;
        gap:6px;
    }
}
