/* ===== الأساس ===== */
body{
    font-family: system-ui;
    background:#f5f7fa;
    margin:0;
    padding:8px;
    direction:rtl;
}

/* ===== الإطار الرئيسي ===== */

.container{
    width:100%;
    max-width:600px;
    margin:auto;
    background:#ffffff;
    padding:10px 8px;
    border-radius:16px;
    box-shadow:0 6px 20px rgba(0,0,0,0.06);
    box-sizing:border-box;
}

/* ===== العنوان ===== */

h1{
    text-align:center;
    margin-bottom:20px;
    font-size:20px;
}

/* ===== الملخص ===== */

.global-summary{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    justify-content:space-between;
    margin-bottom:20px;
    font-weight:bold;
    font-size:13px;
}

/* ===== المستوى ===== */

.level{
    background:#f8fafc;
    padding:14px;
    margin-bottom:20px;
    border-radius:16px;
    border:1px solid #eef2f7;
}

.level h2{
    margin:0 0 10px 0;
    font-size:18px;
}

/* ===== الفصل ===== */

.semester{
    margin-bottom:20px;
}

.semester h3{
    margin:12px 0 8px 0;
    font-size:15px;
}

/* ===== الجدول ===== */

table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:12px;
    background:#ffffff;
    border-radius:10px;
    overflow:hidden;
    table-layout:fixed;
    direction:ltr; /* يحل مشكلة دمج الأعمدة */
}

th{
    background:#f1f5f9;
    font-weight:600;
}

th, td{
    border:1px solid #e5e7eb;
    padding:4px;
    font-size:13px;
    text-align:center;
    direction:rtl; /* يرجع النص عربي طبيعي */
}

/* ===== توزيع الأعمدة ===== */

/* اسم المادة */
th:nth-child(1),
td:nth-child(1){
    width:50%;
    text-align:right;
}

/* الساعات */
th:nth-child(2),
td:nth-child(2){
    width:12%;
}

/* التقدير */
th:nth-child(3),
td:nth-child(3){
    width:23%;
}

/* الإجمالي */
th:nth-child(4),
td:nth-child(4){
    width:15%;
}

/* ===== select ===== */

select{
    width:90%;
    font-size:13px;
    text-align:center;
    padding:3px;
    margin:auto;
    display:block;
}

/* ===== أزرار ===== */

button{
    width:100%;
    padding:6px;
    font-size:13px;
    margin-top:6px;
    border:none;
    border-radius:8px;
    background:#0f172a;
    color:#ffffff;
}

button:active{
    transform:scale(0.98);
}
